header, header a {
    font-family: GeoSansLight;
    font-weight: bold;
    text-transform: uppercase;
}

header nav:first-of-type {
    background-color: var(--color-black);
    color: var(--color-white);
}

header nav div:not(header .searchBar div, header .newsLetter div, header .newsLetter) {
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    height: 2rem;
    font-size: .6rem;
    letter-spacing: 3px;
}

header nav:first-of-type a {
    color: var(--color-white);
}

header nav:first-of-type a:hover {
    color: #ccc;
}

header nav:first-of-type li+li:not(header nav:first-of-type li:last-of-type) {
    padding: 0 2rem;
}

header nav:first-of-type ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav:first-of-type ul:first-of-type {
    width: 80%;
}

header nav:first-of-type ul:last-of-type {
    width: 20%;
}

header nav a.disney span {
    font-size: .8rem;
}

header nav:last-of-type {
    background-color: var(--color-white);
}

header nav:last-of-type div:not(header .searchBar div) {
    height: 50px;
    font-size: 0.875rem;
}

header nav:last-of-type a {
    color: var(--color-black);
}


header nav:last-of-type ul:first-of-type {
    width: 80%;
    justify-content: center;
}

header .listHeader li {
    padding: 0px 1rem;
    letter-spacing: 0.1875rem;
}

header nav:last-of-type a.menuBurgerHeader {
    flex-direction: column;
}

header nav:last-of-type a.menuBurgerHeader span {
    content: "";
    width: 1.2rem;
    height: 1px;
    display: inline-block;
    background-color: var(--color-black);
    margin: 4px 0;
}

header nav:last-of-type a.menuBurgerHeader::before {
    content: "";
    width: 1.2rem;
    height: 1px;
    display: inline-block;
    background-color: var(--color-black);
}

header nav:last-of-type a.menuBurgerHeader::after {
    content: "";
    width: 1.2rem;
    height: 1px;
    display: inline-block;
    background-color: var(--color-black);
}

header .listHeader a:hover {
    color: var(--color-hover);
    padding-bottom: 14px;
    box-shadow: inset 0 -6px 0 0 #fc0;
}

header .pub {
    height: 350px;
    position: relative;
}

header .pub img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .menuBurgerHeader {
    padding-left: 2.5rem;
}

header .searchBar input[type="search"] {
    outline: none;
    background-color: var(--color-black);
    font-size: 60px;
    border: none;
    width: 85%;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
}

header .searchBar, header .newsLetter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    justify-content: center;
    transition: all .3s ease;
}

header .searchBar input[type="search"] {
    outline: none;
    background-color: var(--color-black);
    border: none;
    width: 85%;
    color: var(--color-white);
}

header .searchBar div:last-of-type {
    font-size: 60px;
    display: flex;
    padding-bottom: 12px;
    color: var(--color-white);
    width: 85%;
    border-bottom: 1px solid var(--color-white);
}

header .searchBar span {
    margin-right: 2rem;
}

header .searchBar .crossMenuHeader, header .searchBar .crossMenuHeader::after, header .newsLetter .crossMenuHeader, header .newsLetter .crossMenuHeader::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 25px;

    background-color: var(--color-white);
}

header .searchBar .crossMenuHeader, header .newsLetter .crossMenuHeader {
    transform: rotateZ(45deg);
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

header .searchBar .crossMenuHeader::after, header .newsLetter .crossMenuHeader::after {
    transform: rotateZ(-90deg);
}

header .activeSearchBar, header .newsLetter {
    z-index: 1000;
}

header .newsLetter {
    cursor: default;
    flex-direction: column;
    font-family: Avenir;
}

header .newsLetter .register {
    letter-spacing: 2.5px;
    color: rgb(120, 120, 120);
    font-size: 0.875rem;
    margin: 0;
    text-align: center;
    cursor: default;
}

header .newsLetter h3 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin: 15px 0 25px;
    text-align: center;
}

header nav .newsLetter h3 span {
    font-size: 1.875rem;
}

header nav .newsLetter p:nth-of-type(2):not(header nav .newsLetter .errorForm p) {
    text-transform: none;
    text-align: center;
    font-size: 1rem;
    color: var(--color-white);
    font-weight: normal;
}

header nav .containerNewsletter {
    max-width: 525px;
    margin: 0 auto;
    padding: 0 30px 100px;
}

header nav .newsLetter input[name="email"] {
    outline: none;
    width: 305px;
    font-weight: bold;
    height: 49px;
    font-size: 1rem;
    border: none;
    text-indent: 15px;
    letter-spacing: 3px;
    text-transform: unset;
}

header nav .newsLetter div p:not(header nav .newsLetter div p:nth-of-type(2), header nav .newsLetter .register, header nav .newsLetter .errorForm p) {
    color: rgb(120, 120, 120);
    letter-spacing: 2.5px;
    font-size: 0.75rem;
    margin: 0 0 0 10px;
    line-height: 1.5;
    cursor: pointer;
}

header nav .newsLetter div p:not(header nav .newsLetter div p:nth-of-type(2), header nav .newsLetter .register, header nav .newsLetter .errorForm p):hover {
    color: var(--color-white);
}


header nav .newsLetter form div:not(header nav .newsLetter form div:first-of-type) {
    display: flex;
    align-items: baseline;
}

header nav .newsLetter input[name="submit"] {
    outline: none;
    width: 160px;
    font-weight: bold;
    padding: 0;
    color: var(--color-white);
    background: rgb(51, 51, 51);
    border: none;
    letter-spacing: 3px;
    text-transform: unset;
}

header nav .newsLetter .checkbox {
    content: "";
    display: inline-block;
    border: 1px solid rgb(51, 51, 51);;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

header nav .newsLetter div:first-of-type {
    margin: 55px 0 25px 0;
}

header nav .newsLetter .selected {
    background-color: yellow;
    content: "";
    display: inline-block;
    width: 1px;
    height: 9px;
    transform: rotateZ(25deg) translateY(-6px);
    position: fixed;
}

header nav .newsLetter .selected::after {
    background-color: yellow;
    content: "";
    display: inline-block;
    width: 1px;
    height: 6px;
    transform: rotateZ(-74deg) translateX(1px) translateY(-3px);
}

header nav .newsLetter .birdOne {
    top: 7rem;
    left: 30px;
    position: absolute;
}

header nav .newsLetter .birdTwo {
    position: absolute;
    bottom: 50%;
    right: 0px;
}

header nav .newsLetter div .errorHeader:not(header nav .newsLetter div p:nth-of-type(2), header nav .newsLetter .register, header nav .newsLetter .errorForm p) {
    color: rgb(252, 67, 73);
}

header nav .newsLetter .errorForm {
    font-size: 0.625rem;
    letter-spacing: 3px;
    line-height: 1.5;
    flex-direction: column;
}