main ul.planet-possible a {
    color: var(--color-white);
    width: 11.6rem;
}

main ul.planet-possible {
    background-image: url(https://static.nationalgeographic.fr/files/styles/image_3200/public/header_1.jpg?w=1600&h=900);
    background-size: contain;
    cursor: pointer;
    height: 55.6vw;
    flex-direction: column;
    padding: 0 142px 40px 90px;
    justify-content: flex-end;
}

main ul.planet-possible li:last-of-type {
    font-size: 2.125rem;
    font-weight: bold;
}

main ul.planet-possible li a:last-of-type:hover, main ul.planet-possible:hover li:last-of-type a{
    color: var(--color-hover);
}

main .otherLink {
    font-size: 11px;
    letter-spacing: 0.3em;
    padding-bottom: 15px;
}

main .otherLink::after {
    content: "";
    display: inline-block;
    border-left: 1px white solid;
    height: 15px;
    margin-left: 20px;
}

main .otherLink::before {
    content: "";
    display: inline-block;
    border-right: 1px white solid;
    height: 15px;
    margin-right: 20px;
}

main .otherLink:hover {
    text-decoration: underline;
}

main h1 {
    font-size: clamp(22px, 5vw, 100px);
    letter-spacing: 5px;
    color: #e6e6e6;
    text-align: center;
    margin: 5px auto;
    margin-top: 3.5rem;
}

main section.theDayOfTheEarth {
    flex-wrap: wrap;
    padding: 0 2.5rem;
}

main section.theDayOfTheEarth .firstGroup {
    width: 58.333333333333336%;
    padding: 1rem;
    flex-direction: column;
}

main section.theDayOfTheEarth .firstGroup div, main section .secondGroup div  {
    width: 100%;
}

main section.theDayOfTheEarth .secondGroup  {
    width: 41.66666666666667%;
    padding: 1rem;
    flex-direction: column;
}

main section.theDayOfTheEarth h1 {
    flex-basis: 100%;
}

main section.theDayOfTheEarth .otherLink::after {
    border-left: 1px solid var(--color-black);
} 

main section.theDayOfTheEarth .otherLink::before {
    border-right: 1px solid var(--color-black);
} 

main section.theDayOfTheEarth .otherLink {
    color: var(--color-black);
}

main section.theDayOfTheEarth .otherLink {
    font-family: GeoSansLight;
}

main .otherLink {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}