main img {
    animation: fadein 2s;
}

main ul.planet-possible a {
    color: var(--color-white);
    width: 11.6rem;
}

main ul.planet-possible {
    background-image: url(https://static.nationalgeographic.fr/files/styles/image_3200/public/header_1.jpg?w=1600&h=900);
    background-size: contain;
    cursor: pointer;
    height: 55.6vw;
    flex-direction: column;
    padding: 0 142px 40px 90px;
    justify-content: flex-end;
}

main ul.planet-possible li:last-of-type {
    font-size: 2.125rem;
    font-weight: bold;
}

main ul.planet-possible li a:last-of-type:hover, main ul.planet-possible:hover li:last-of-type a{
    color: var(--color-hover);
}

main .otherLink {
    font-size: 11px;
    letter-spacing: 0.3em;
    padding-bottom: 15px;
    cursor: pointer;
}

main .otherLink::after {
    content: "";
    display: inline-block;
    border-left: 1px white solid;
    height: 15px;
    margin-left: 20px;
}

main .otherLink::before {
    content: "";
    display: inline-block;
    border-right: 1px white solid;
    height: 15px;
    margin-right: 20px;
}

main .otherLink:hover {
    text-decoration: underline;
}

main h1 {
    font-size: clamp(22px, 5vw, 100px);
    letter-spacing: 5px;
    color: #e6e6e6;
    text-align: center;
    margin: 5px auto;
    margin-top: 3.5rem;
}

main section.theDayOfTheEarth {
    flex-wrap: wrap;
    padding: 0 2.5rem;
    padding-bottom: 13rem;
}

main section.theDayOfTheEarth .firstGroup {
    width: 58.333333333333336%;
    padding: 1rem;
    flex-direction: column;
}

main section.theDayOfTheEarth .firstGroup div, main section .secondGroup div  {
    width: 100%;
}

main section.theDayOfTheEarth .secondGroup  {
    width: 41.66666666666667%;
    padding: 1rem;
    flex-direction: column;
    position: relative;
}

main section.theDayOfTheEarth h1 {
    flex-basis: 100%;
}

main section.theDayOfTheEarth .otherLink::after {
    border-left: 1px solid var(--color-black);
} 

main section.theDayOfTheEarth .otherLink::before {
    border-right: 1px solid var(--color-black);
} 

main section.theDayOfTheEarth .otherLink, main section.theDayOfTheEarth a {
    color: var(--color-black);
}

main section.theDayOfTheEarth a h3:hover {
    color: var(--color-hover);
}

main section.theDayOfTheEarth .otherLink {
    font-family: GeoSansLight;
}

main section.theDayOfTheEarth img.pub {
    width: 18rem;
    position: absolute;
    bottom: 0;
    left: 5rem;
}

main .otherLink {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

main section h3 {
    font-size: 1.375rem;
    letter-spacing: 0.1px;
    line-height: 1.273;
    margin: 0 0 15px 0;
}

main section.theDayOfTheEarth h3:not(main section.theDayOfTheEarth div:last-of-type div:first-of-type h3) {
    font-size: 1.75rem;
    letter-spacing: 0.3px;
    line-height: 1.214;
}

main section.theMostLatest {
    background-color: var(--color-black);
    flex-wrap: wrap;
    padding-bottom: 60px;
    margin-bottom: 60px;
}


main section.theMostLatest h2 {
    font-size: 3.75rem;
    line-height: 3.25rem;
    padding-bottom: 30px;
    width: 1265px;
    padding: 40px 70px 22px 100px;
    margin: 0;
    font-family: GeoSansLight;
    letter-spacing: 5px;
    flex-basis: 100%;
}

main section.theMostLatest::before, main .pictureOfTheDayMain::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 86px;
    background-color: #fc0;
    position: absolute;
    left: 3.5rem;
}

main section.theMostLatest, main section.theMostLatest a {
    color: var(--color-white);
}

main section.theMostLatest div {
    width: 33.33333333333333%;
    margin-bottom: 2.5rem;
}

main section.theMostLatest div h3 {
    width: 95%;
    padding: 0 20px 0 20px;
}

main section.theMostLatest div h3:hover {
    color: var(--color-hover);
}

main section.theMostLatest div img {
    margin-bottom: 15px;
}

main section.theMostLatest div ul {
    width: 95%;
    padding: 0 20px 0 20px;
}

main .pictureOfTheDayMain {
    background-image: url(https://static.nationalgeographic.fr/files/styles/image_3200/public/pod30042022.jpg?w=1600&h=900);
    padding: 0 50px 56% 50px;
}

main .pictureOfTheDayMain .otherLink {
    color: var(--color-white);
}

main .pictureOfTheDayMain h2 {
    font-size: 3.125rem;
    color: var(--color-white);
    height: 40rem;
    margin: 0;
}

main .pictureOfTheDayMain::before {
    background-color: var(--color-white);
    font-family: 'GeoSansLight';
}

main .pictureOfTheDayMain ul:first-of-type {
    justify-content: space-between;
}

main .pictureOfTheDayMain ul:first-of-type li:last-of-type {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.875rem;
}

main .pictureOfTheDayMain ul:first-of-type li:last-of-type a {
    color: var(--color-white);
}